/* --- Background --- */
body {
  margin: 0;
  font-family: "Georgia", serif;
  color: #2b2b2b;
}

.branding {
  position: relative;
  min-height: 100vh;
  
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 35px 40px 10px;
}

/* --- Navbar --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo .v {
  color: #ff5b3d;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon .bar {
  width: 22px;
  height: 2px;
  background-color: #2b2b2b;
}

/* --- Quote Section --- */
.quote-section {
  text-align: center;
  margin: 30px 0 50px 0;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #2b2b2b;
  font-weight: 500;
}

.quote-underline {
  top: 11%;
  right: 19%;
  
}

/* --- Back Button --- */
.back-btn {
  border: 1px solid #ff5b3d;
  background: transparent;
  color: #ff5b3d;
  font-family: "Poppins", sans-serif;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background-color: #ff5b3d;
  color: white;
}

/* --- Main Content --- */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.image-card {
  background-color: #fff;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  max-width: 360px;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.caption {
  margin-top: 10px;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #222;
}

.text-content {
  max-width: 400px;
  font-family: "Instrument Sans", sans-serif;
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.1rem;
}

.text-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.text-content li {
  margin-bottom: 5px;
}

/* --- Explore Now --- */
.explore {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.explore p {
  color: #1d3557;
  font-weight: 500;
}

.arrow {
  
  width: 70px;
  bottom: 15%;
}

/* --- Background Icons --- */
.bg-icon {
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.left-icon {
  bottom: 20%;
  left: 10%;
  width: 100px;
}

.right-icon {
  top: 19%;
  right: 14%;
  width: 80px;
}

.bottom-right {
  bottom: 19%;
  right: 13%;
  width: 100px;
}
.bottom-right2 {
  bottom: 45%;
  right: 23%;
  width: 60px;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .quote {
    font-size: 1.2rem;
  }

  .quote-underline {
    width: 180px;
  }

  .text-content {
    text-align: center;
  }
}
